body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


ul{
    list-style-type: square;
}

p, ul{
    font-family: 'Rubik','sans-serif';
    font-weight: 400;
}

h1{
    font-family: 'Rubik','sans-serif';
    font-weight: 700;
    color: lightcoral;
}

li{
    padding: 6px;
}
